html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}
body {
  margin: 0
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block
}
a {
  background: transparent
}
a:active,
a:hover {
    outline: 0
}
b,
strong {
  font-weight: bold
}
h1 {
  font-size: 2em;
  margin: .67em 0
}
small {
  font-size: 80%
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}
sup {
  top: -.5em
}
sub {
  bottom: -.25em
}
img {
  border: 0
}
td,
th {
    padding: 0
}
a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}
h1,
h2,
h3,
h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-style: normal
}
.text-center {
    text-align: center
}
html,
body {
    height: 100%
}
.bar-header {
  background: #fff;
  /* padding: .225rem 1.25rem; */
  box-shadow: 0 -3px 9px #000;
  position: fixed;
  width: 100%;
  z-index: 10;
}
.bar-header .logo {
  margin: 0;
  line-height: 3.188rem
}
.bar-header .logo a {
  color: #005f97;
  text-decoration: none;
  font-size: 2.75rem;
  font-weight: 900;
  font-style: normal;
}
.bar-header .logo a:after {
  transition: all .4s;
  content: '{ } WJ';
}
@media only screen and (min-width: 27.5rem) {    
  .bar-header .logo a:after {
      content: '{ } Wilson Junior'
  }
}
.nav-bar {
  margin: 0;
  line-height: 3.588rem
}
.nav-bar a {
  font-size: 1.75rem;
  font-style: normal;
  display: block;
  padding: 0 10px;
  color: #005f97;
}
.nav-bar a:hover {
  font-weight: 900;
  color: #005f97;
  text-decoration: none;
}
.nav-bar li {
  padding: 0px 7px 0px 7px;
}

.list-full, .list-full li,
.list-auto, .list-auto li { width: 100%; float: left; display: block; position: relative; }
.list-auto, .list-auto li { width: auto; }

.float-l { float: left; }
.float-r { float: right; }

input#control-nav {
  visibility: hidden;
  position: absolute;
  left: -9999px;
  opacity: 0;
}

@media screen and (max-width: 767px) {
  header nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 250px;
    border-left: 1px solid #ccc;
    background: #005f97;
    overflow-x: auto;
    z-index: 2;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    -webkit-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    transform: translate(100%, 0);
  }

  .nav-bar a {
    font-size: 2.75rem;
    padding: 15px 10px;
    color: #fff;
  }
  
  .nav-bar li a:hover {
    background-color: #ccc;
    color: #005f97;
  }

  header ul.list-auto {
    padding: 0;
  }

  header ul.list-auto li {
    width: 100%;
    border: solid #ccc;
    border-width: 0 0 1px;
  }

  .control-nav { /* label icon */
    position: absolute;
    right: 50px;
    top: 10px;
    display: block;
    width: 30px;
    padding: 5px 0;
    border: solid #005f97;
    border-width: 3px 0;
    z-index: 2;
    cursor: pointer;
  }

  .control-nav:before {
    content: "";
    display: block;
    height: 3px;
    background: #005f97;
  }

  .control-nav-close {
    position: fixed; /* label layer */
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    z-index: 1;
    background: rgba(0,0,0,0.4);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    -webkit-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    transform: translate(100%, 0);
  }

  /* checked nav */
  input#control-nav {
    display: block;
  }

  input#control-nav:focus ~ .control-nav {
    border-color: #000;
    box-shadow: 0px 0px 9px rgba(0,0,0,0.3);
  }

  input#control-nav:focus ~ .control-nav:before {
    background: #000;
  }

  input#control-nav:checked ~ nav,
  input#control-nav:checked ~ .control-nav-close {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
.header-post {
  background-color: #005f97;
  height: 600px;
  min-height: 31.25rem;
  position: fixed;
  width: 100%;
}
.header-post .content {
  width: 95%;
  text-align: center;
  padding: 15.75rem 0 4.125rem;
  margin: auto;
  max-width: 50rem
}
.header-post .post-title {
  color: #fff;
  font-size: 5.875rem;
  font-weight: 900;
  margin: 0 0 40px;
  text-shadow: 5px 5px #004c79;
}
@media only screen and (max-width: 37.5rem) {
  .header-post .post-title {
      font-size: 3.75rem
  }
}
.header-post .subtitle {
  color: rgba(255, 255, 255, 0.7);
  font-style: normal;
  font-size: 2.25rem
}
@media only screen and (max-width: 37.5rem) {
  .header-post .subtitle {
      font-size: 1.25rem
  }
}
.header-post .subheader {
    display: table;
    padding: 20px;
}
.header-post .subheader a {
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 0 10px;
}
@media only screen and (min-width: 37.5rem) {
  .header-post .subheader a {
      padding: 0 10px
  }
}
main {
  background: #fff;
  position: relative;
  top: 600px;
}
section {
  padding: 80px 20px 50px;
  border-top: 1px solid #ccc;
}
section:after {
  content: "";
  display: block;
  clear: both;
}
.row {
  *zoom: 1;
  width: auto;
  max-width: 94.375rem;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  line-height: 2.788rem;
  font-size: large;
}
.row:after {
  clear: both
}
.row p {
  margin: 0 0 20px 0;
}
.heading {
  margin-top: -30px;
  font-weight: 900;
  font-style: normal;
}

.heading:after {
  content: " ";
  display: block;
  width: 100px;
  height: 1px;
  margin: 10px 0 20px;
  background: #555555;
}
.img-circulo {
	/* width: 150px;
	height: 150px; */
	border-radius: 50%;
	overflow: hidden;
  margin-bottom: 30px;
  transition: 0.3s ease;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.img-circulo:hover{
  -webkit-filter: blur(3px);
  filter: blur(2px);
  transition: 0.5s;
}
.img-projeto {
  float: left; 
  margin-right: 80px;
}
.img-responsive {
  max-width: 100%; 
  display:block; 
  height: auto;
}
.nav>li>a {
  padding: 10px 25px !important;
  color: rgba(0, 0, 0, 0.7) !important;
}

.nav-pills>li>a {
  border-radius: 2 !important;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
  color: #ffffff !important;
  background-color: #005f97 !important;
  transition: .3s ease-out !important; 
}
.btn-projeto {
  background-color: transparent; 
  color: #005f97 !important; 
  text-decoration: none !important;
  border: 2px solid #008CBA;
  font-size: 16px;
  padding: 10px 35px;
  display: inline-block;
  transition-duration: 0.4s;
  text-transform: uppercase;
	letter-spacing: .08em;
  border-radius: 2px;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
}
.btn-projeto:hover {
  background-color: #008CBA;
  color: white !important;
  text-decoration: none;
}
footer {
  background: #005f97;
  padding: 1.563rem 0;
}
footer p,
footer a {
  text-decoration: none;
  font-weight: 300;
  font-style: normal;
  color: #fff;
  text-align: center;
  margin: 0
}