/* 
Screen: 1440 x 900
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, button, input {
    font-family: Poppins, sans-serif;
    border: 0;
    outline: 0;
    /* font-family: Ubuntu, sans-serif; */
    color: var(--text);
}

h1, h2, h3 {
    font-family: Ubuntu, sans-serif;
    color: var(--title);
}

a {
    text-decoration: none;
    color: inherit;
}

:root {
    --primary: #0086ff;
    --primary-hover: rgba(0, 134, 255, 1);

    --bg: #141412;
    --bg-box: #242320;

    --title: #f1f1f1;
    --text: #f1f1f1cc;

}

body, html {
    min-height: 100%;
    background: var(--bg);
    scroll-behavior: smooth;
}

.content {
    width: 90%;
    margin: 0 auto;
}

.colorize {
    color: var(--primary);
}