.navbar-background-color {
    background-color: #0A2C4A;
}

nav.navbar-default {
    border-color: transparent;
}

nav.navbar-default .navbar-toggle .icon-bar {
    background-color: #f1f1f1;
}

nav.navbar-default .navbar-toggle:hover,
nav.navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

nav.navbar-default .navbar-brand {
    color: #f1f1f1;
    font-size: 2.75rem;
    font-weight: 900;
}

nav.navbar-default .navbar-brand:hover,
nav.navbar-default .navbar-brand:focus {
    color: #f1f1f1;
    background-color: transparent;
}

.navbar-brand:after {
    transition: all .4s;
    content: '</> Wilson Junior';
}

@media (max-width: 375px) {
    .navbar-brand:after {
        content: '</> WJ';
    }
}

.nav.navbar-nav.navbar-right li a,
.nav.navbar-nav.navbar-right li a:hover,
.nav.navbar-nav.navbar-right li a:focus {
    color: #f1f1f1;
    font-size: 1.5rem;
    letter-spacing: 1px;
}

.nav.navbar-nav.navbar-right li a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 7px;
    left: 0;
    background-color: #f1f1f1;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.nav.navbar-nav.navbar-right li a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.jumbotron {
    margin-top: 51px;
    position: relative
}

.jumbotron.top {
    color: #f1f1f1
}