main {
    top: 500px;
    top: 100vh;
}

section {
    background-color: #f1f1f1;
}

section .container {
    padding-top: 35px;
    padding-bottom: 35px;
}

h2 {
    margin-top: 0px;
    margin-bottom: 60px;
    color: #14578e;
    text-transform: uppercase
}

h2 span {
    position: relative;
}

h2 span:before,
h2 span:after {
    position: absolute;
}

h2 span:before {
    content: "";
    top: 57px;
    width: calc(100% + 30px);
    left: -15px;
    height: 4px;
    background: #14578e;
}

h2 span:after {
    content: "</>";
    color: #14578e;
    font-weight: 600;
    top: 42px;
    left: 50%;
    margin-left: -25px;
    width: 50px;
    background: #f1f1f1;
}

@media (max-width: 426px) {
    h2 {
        margin-bottom: 70px;
    }
    h2 span:before {
        top: 67px;
    }
    h2 span:after {
        top: 52px;
    }
}

.valign-center {
    display: flex;
    align-items: center
}

@media (max-width: 768px) {
    .valign-center {
        display: block;
        align-items: center;
        text-align: center;
    }
    .center-block {
        margin-bottom: 20px;
    }
}

.skills-icon {
    color: #f1f1f1;
    font-size: 6.5rem;
    text-align: center;
}

.skills-icon-link {
    color: #f1f1f1;
}

.skills-icon-link:hover,
.skills-icon-link:focus {
    text-decoration: none;
}

@media (max-width: 375px) {
    .skills-icon {
        width: 50%
    }
}

.nav.nav-pills li a {
    color: #14578e;
    border: 2px solid #14578e;
}

.nav.nav-pills li a:hover {
    border: 2px solid #14578e;
    background-color: transparent;
    color: #14578e;
    border-color: #14578e;
    border-radius: 2;
}

.nav.nav-pills li.active a,
.nav.nav-pills li.active a:hover,
.nav.nav-pills li.active a:focus {
    color: #f1f1f1;
    background-color: #14578e;
    transition: .3s ease-out;
    border: 2px solid #14578e;
}

@media (max-width: 767px) {
    .nav-pills li {
        float: none;
        border: 1px solid #f1f1f1;
        text-align: center;
    }
    .nav-pills li.active a {
        border: none;
    }
}

.tab-content {
    margin-top: 50px;
}

@media (max-width: 768px) {
    .tab-content {
        text-align: center;
    }
}

a.btn-projetos {
    color: #14578e;
    background-color: #f1f1f1;
    border: 2px solid #14578e;
    padding: 0.2rem 2rem 0.2rem 2rem;
    display: inline-block;
}

a.btn-projetos:hover {
    color: #f1f1f1;
    background-color: #14578e;
    border: 2px solid #14578e;
    transition-duration: 0.4s;
    text-decoration: none;
}

button.btn-section {
    color: #0A2C4A;
    background-color: #f1f1f1;
    border: 2px solid #f1f1f1;
    padding: 0.2rem 2rem 0.2rem 2rem;
    display: inline-block;
}

button.btn-section:hover {
    color: #0A2C4A;
    background-color: #708090;
    border: 2px solid #708090;
    transition-duration: 0.4s;
    text-decoration: none;
}

.row input:focus,
.row textarea:focus {
    border-color: #708090;
}

section .item {
    margin: 0 0 20px 20px
}

.col-infos li a {
    color: #f1f1f1;
}

.col-infos li span {
    color: #f1f1f1;
    float: left;
    width: 32px;
    font-size: 22px
}

.col-infos li span:hover {
    color: #708090;
}

.col-infos li svg {
    fill: #f1f1f1;
    float: left;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.col-infos li svg:hover {
    color: #708090;
}

small {
    font-size: 80%
}

@media (max-width: 1024px) {
    .icon-section-center {
        text-align: center;
    }
    .col-infos li span {
        display: none;
    }
    .col-infos li svg {
        display: none;
    }
    .col-infos li.item-1:before {
        content: "Fone: "
    }
    .col-infos li.item-2:before {
        content: "Fone: "
    }
    .col-infos li.item-3:before {
        content: "Email: "
    }
    .col-infos li.item-4:before {
        content: "Blog: "
    }
}

@media (max-width: 375px) {
    .col-infos {
        font-size: 12px;
        transition: all .4s;
    }
    .col-infos li.item-1:before,
    .col-infos li.item-2:before,
    .col-infos li.item-3:before,
    .col-infos li.item-4:before {
        content: ""
    }
}

.header-background-color,
.skills-background-color,
.contact-background-color {
    background-color: #0A2C4A;
}

.social-icon svg {
    fill: #f1f1f1;
    width: 60px;
}

.social-icon svg:hover {
    fill: #708090;
}