a.fill-div {
	display: block;
	height: 100%;
	width: 100%;
	text-decoration: none;
}
.button-box {
	height: 120px;
}
.background-facebook {
	background-color: #3b5998;
}
.icon-facebook {
	color: #f1f1f1;
	font-size: 80px;
	text-align: center;
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.icon-facebook:after {
	content: "/wilsonjunior.net";
	display:block; clear:both;
	font-size: 12px;
	position: relative;
}
.background-skype {
	background-color: #00aff0;
}
.icon-skype {
	color: #f1f1f1;
	font-size: 80px;
	text-align: center;
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.icon-skype:after {
	content: "/wilsonwj0101";
	display:block; clear:both;
	font-size: 12px;
	position: relative;
}
.background-website {
	background-color: #14578e;
}
.icon-website {
	color: #f1f1f1;
	font-size: 80px;
	text-align: center;
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.icon-website:after {
	content: "/wilsonjunior.net";
	display:block; clear:both;
	font-size: 12px;
	position: relative;
}
.background-github {
	background-color: #333333;
}
.icon-github {
	color: #f1f1f1;
	font-size: 80px;
	text-align: center;
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.icon-github:after {
	content: "/wilsonjuniorwj";
	display:block; clear:both;
	font-size: 12px;
	position: relative;
}
.background-mobile {
	background-color: #9768C7;
}
.icon-mobile {
	color: #f1f1f1;
	font-size: 80px;
	text-align: center;
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.icon-mobile:after {
	content: "21 971696324";
	display:block; clear:both;
	font-size: 12px;
	position: relative;
}
.background-whatsapp {
	background-color: #25d366;
}
.icon-whatsapp {
	color: #f1f1f1;
	font-size: 80px;
	text-align: center;
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.icon-whatsapp:after {
	content: "21 96913-9974";
	display:block; clear:both;
	font-size: 12px;
	position: relative;
}
.background-email {
	background-color: #f1f1f1;
}
.icon-email {
	color: #14568E;
	font-size: 80px;
	text-align: center;
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.icon-email:after {
	content: "wilsonwj0101@gmail.com";
	display:block; clear:both;
	font-size: 18px;
	position: relative;
}