body {
  font-family: 'Open Sans', sans-serif;
}
body {
  background-color: #f1f1f1;
  height: 100%
}
section {
  background-color: #f1f1f1;
  margin: 50px auto
}
section .item {
  margin: 20px 0
}
p {
  line-height: 25px;
}
.valign-center {
  display: flex;
  align-items: center
}
.blur {
  filter: none;
  transition: 0.3s;
}
.blur:hover {
  filter: blur(2px);
  transition: 0.5s;
}
nav.navbar-default {
  border-color: transparent;
}
nav.navbar-default .navbar-toggle .icon-bar {
  background-color: #f1f1f1;
}
nav.navbar-default .navbar-toggle:hover,
nav.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}
nav.navbar-default .navbar-brand {
  color: #f1f1f1;
  font-size: 2.75rem;
  font-weight: 900;
}
nav.navbar-default .navbar-brand:hover,
nav.navbar-default .navbar-brand:focus {
  color: #f1f1f1;
  background-color: transparent;
}
.nav.navbar-nav.navbar-right li a,
.nav.navbar-nav.navbar-right li a:hover,
.nav.navbar-nav.navbar-right li a:focus {
  color: #f1f1f1;
  font-size: 1.5rem;
	letter-spacing: 1px;
}
.nav.navbar-nav.navbar-right li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 7px;
  left: 0;
  background-color: #f1f1f1;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.nav.navbar-nav.navbar-right li a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
header {
  height: 100%;
  width: 100%;
  position: fixed;
}
header .content {
  text-align: center;
  padding: 15.75rem 0 4.125rem 0;
  margin: auto;
}
header .title {
  color: #f1f1f1;
  font-size: 5.875rem;
  font-weight: 900;
  margin: 0 0 40px 0;
  text-shadow: 5px 5px rgba(18, 44, 52, 0.3);
}
header .subtitle {
  color: rgba(231, 229, 251, 0.7);
  font-style: normal;
  font-size: 2.25rem;
}
@media only screen and (max-width: 37.5rem) {
  header .title {
      font-size: 3.75rem;
  }
}
@media only screen and (max-width: 37.5rem) {
  header .subtitle {
      font-size: 1.25rem;
  }
}
main {
  /* font-size: 1.66rem; */
  font-family: 'Open Sans', sans-serif;
  top: 500px;
  top: 100vh;
  position: relative;
}

h2{
  text-align: center;
  margin-bottom: 60px;
  color:#14578e;
  text-transform: uppercase
}

h2 span{
  position:relative;
}

h2 span:before,
h2 span:after{
  position:absolute;
}

h2 span:before{
  content:"";
  top:57px;
  width: calc(100% + 30px);
  left:-15px;
  height:4px;
  background:#14578e;
}

h2 span:after{
  content:"</>";
  color:#14578e;
  font-weight: 600;
  top:42px;
  left:50%;
  margin-left: -25px;
  width: 50px;
  background:#f1f1f1;
  
}
.skills-icon {
  color: #f1f1f1;
	font-size: 6.5rem;
	text-align: center;
}
.skills-icon:hover {
  color: #708090;
  /* color: #48F2EF; */
}
@media (max-width: 320px) {
  .skills-icon {
    width: 50%
  }
}
.nav.nav-pills li a {
  color: #14578e;
  border: 2px solid #14578e ;
}
.nav.nav-pills li a:hover {
  border: 2px solid #14578e ;
  background-color: transparent;
  color: #14578e;
  border-color: #14578e;
  border-radius: 2;
}
.nav.nav-pills li.active a,
.nav.nav-pills li.active a:hover,
.nav.nav-pills li.active a:focus {
  color: #f1f1f1;
  background-color: #14578e;
  transition: .3s ease-out; 
  border: 2px solid #14578e ;
}
.row .tab-margin-top {
  margin-top: 50px;
}
a.btn-section {
  color: #14578e ;
  background-color: #f1f1f1 ;
  border: 2px solid #14578e ;
  padding: 0.2rem 2rem 0.2rem 2rem;
  display: inline-block;
}
a.btn-section:hover {
  color: #f1f1f1 ;
  background-color: #14578e;
  border: 2px solid #14578e;
  transition-duration: 0.4s;
  text-decoration: none;
}
button.btn-section {
  color: #0A2C4A ;
  background-color: #f1f1f1 ;
  border: 2px solid #f1f1f1 ;
  padding: 0.2rem 2rem 0.2rem 2rem;
  display: inline-block;
}
button.btn-section:hover {
  color: #0A2C4A ;
  background-color: #708090;
  border: 2px solid #708090;
  transition-duration: 0.4s;
  text-decoration: none;
}
@media (max-width: 430px) {
  .btn-section-center {
    text-align: center;
  }
}
.row input:focus, 
.row textarea:focus {
  border-color: #708090; 
}
footer {
  color: #f1f1f1
}
ul {
  color: #f1f1f1;
  list-style: none;
  padding: 0
}
ul li {
  margin: 0;
  padding: 0
}
ul.buttons {
  font-size: 2em
}
ul.buttons li {
  float: left;
  margin-right: .5em
}
footer a {
  color: #f1f1f1
}
footer a:hover {
  color: #708090;
  text-decoration: none
}
/* .row.footer-margin-top {
  margin-top: 8px;
} */
.footer-margin-top {
  margin-top: 20px;
  margin-bottom: 20px;
}
.confirmation-margin {
  margin-top: 100px; 
  margin-bottom: 100px;
}
nav.navbar-background-color,
header.header-background-color,
.confirmation-background-color,
.skills-background-color,
section.contact-background-color,
.header-background-color,
.jumbotron.top {
  background-color: #0A2C4A;
}

footer.footer-background-color {
  background-color: #000A11;
}

.sm-show {
  display: none
}
.sm-hide {
  display: block
}
@media (max-width: 768px) {
  .valign-center {
      display: block;
      align-items: center
  }
  .sm-show {
      display: block
  }
  .sm-hide {
      display: none
  }
}
.img-responsive {
  margin-bottom: 15px;
}

section.contact-position {
  /* margin-top: 50px; */
  margin-bottom: 0px;
  /* padding-bottom: 0px; */
  /* position: relative */
}
.contact-icon a {
  color: #f1f1f1;
	font-size: 4.5rem;
	text-align: center;
}
.contact-icon:hover a {
  color: #708090;
}
@media (max-width: 320px) {
  .contact-icon a {
    width: 33.33%
  }
}
.jumbotron {
  margin-top: 51px;
  position: relative
}
.jumbotron.top {
  /* background: #0A2C4A; */
  color: #f1f1f1
}

.margin-top-bottom {
  margin-top: 50px;
  margin-bottom: 50px;
}
.margin-top-bottom-contact {
  margin-top: 30px;
  margin-bottom: 30px;
}
.navbar-brand:after {
  transition: all .4s;
  content: '{ } Wilson Junior';
}
@media (max-width: 320px) {
  .navbar-brand:after {
      content: '{ } WJ';
  }
}


.post-single .post-socials .item {
  /* padding: 0 5px; */
  /* display: inline-block; */
  /* height: 20px */
}
.post-single .post-socials .item iframe {
  /* vertical-align: bottom */
}

.col-infos ul {
  
  /* width: 100%;
  float: left */
}

.col-infos li {
  /* height: 32px; */
  /* line-height: 32px; */
  font-size: 16px;
  /* font-weight: 300 */
}
.col-infos li span {
  float: left;
  width: 32px;
  /* height: 32px; */
  /* line-height: 32px; */
  font-size: 22px
}
small {
  font-size: 80%
}

@media (max-width: 1024px) {
  .icon-section-center {
    text-align: center;
  }
  .col-infos li span {
    display: none;
  }
  .col-infos li.item-3:before {
    content: "Email:"
  }
  .col-infos li.item-4:before {
    content: "Skype:"
  }
}

/* .col-infos li.item-5:hover,
.col-infos li.item-5 a:hover {
  color: #2FDF4A;
}
.col-infos li.item-6:hover,
.col-infos li.item-6 a:hover {
  color: #1B5DED;
}
.col-infos li.item-7:hover,
.col-infos li.item-7 a:hover {
  color: #1A1718;
} */