body {
  font-family: 'Open Sans', sans-serif;
}
p {
  color: #E7E5FB;
}
h1, h2, h3, h4, h5, h6 {
  color: #e7e5fb;
}
.blur {
  filter: none;
  transition: 0.3s;
}
.blur:hover {
  filter: blur(2px);
  transition: 0.5s;
}
nav.navbar-default {
  border-color: transparent;
}
nav.navbar-default .navbar-toggle .icon-bar {
  background-color: #e7e5fb;
}
nav.navbar-default .navbar-toggle:hover,
nav.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}
nav.navbar-default .navbar-brand {
  color: #e7e5fb;
  font-size: 2.75rem;
  font-weight: 900;
}
nav.navbar-default .navbar-brand:hover,
nav.navbar-default .navbar-brand:focus {
  color: #e7e5fb;
  background-color: transparent;
}
.nav.navbar-nav.navbar-right li a,
.nav.navbar-nav.navbar-right li a:hover,
.nav.navbar-nav.navbar-right li a:focus {
  color: #e7e5fb;
  font-size: 2.1rem;
	letter-spacing: 1px;
}
.nav.navbar-nav.navbar-right li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 7px;
  left: 0;
  background-color: #e7e5fb;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.nav.navbar-nav.navbar-right li a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
header {
  height: 100%;
  width: 100%;
  position: fixed;
}
header .content {
  text-align: center;
  padding: 15.75rem 0 4.125rem 0;
  margin: auto;
}
header .title {
  color: #e7e5fb;
  font-size: 5.875rem;
  font-weight: 900;
  margin: 0 0 40px 0;
  text-shadow: 5px 5px rgba(18, 44, 52, 0.3);
}
header .subtitle {
  color: rgba(231, 229, 251, 0.7);
  font-style: normal;
  font-size: 2.25rem;
}
@media only screen and (max-width: 37.5rem) {
  header .title {
      font-size: 3.75rem;
  }
}
@media only screen and (max-width: 37.5rem) {
  header .subtitle {
      font-size: 1.25rem;
  }
}
main {
  font-size: 1.66rem;
  font-family: 'Open Sans', sans-serif;
  top: 500px;
  top: 100vh;
  position: relative;
}
.title-pages {
  color: #48F2EF;
  margin-top: 40px;
  text-align: center;
  text-transform: uppercase;
}
.title-pages h3 {
  position: relative;
  bottom: 2rem;
  width: 100%;
  padding: 0;
}
.title-pages h3:after {
  display: inline-block;
  margin: 0 0 8px 5px;
  height: 3px;
  content: " ";
  text-shadow: none;
  background-color: #E7E5FB;
  width: 80px;
}
.title-pages h3:before {
  display: inline-block;
  margin: 0 5px 8px 0;
  height: 3px;
  content: " ";
  text-shadow: none;
  background-color: #E7E5FB;
  width: 80px;
}
.skills-icon {
  color: #E7E5FB;
	font-size: 6.5rem;
	text-align: center;
}
.skills-icon:hover {
  color: #48F2EF;
}
section.project-height {
  min-height: 430px;
}
.nav.nav-pills li a {
  color: #e7e5fb;
  border: 2px solid #E7E5FB ;
}
.nav.nav-pills li a:hover {
  border: 2px solid #E7E5FB ;
  background-color: transparent;
  color: #E7E5FB;
  border-color: #E7E5FB;
  border-radius: 2;
}
.nav.nav-pills li.active a,
.nav.nav-pills li.active a:hover,
.nav.nav-pills li.active a:focus {
  color: #006D90;
  background-color: #48f2ef;
  transition: .3s ease-out; 
  border: 2px solid #48f2ef ;
}
.row .tab-margin-top {
  margin-top: 50px;
}
button.btn-section, a.btn-section {
  color: #E7E5FB ;
  background-color: #006E90 ;
  border: 2px solid #E7E5FB ;
  padding: 0.2rem 2rem 0.2rem 2rem;
  display: inline-block;
}
button.btn-section:hover, a.btn-section:hover {
  color: #006E90 ;
  background-color: #48F2EF;
  border: 2px solid #48F2EF;
  transition-duration: 0.4s;
  text-decoration: none;
}
.row input:focus, 
.row textarea:focus {
  border-color: #48F2EF; 
}
footer {
  color: #E7E5FB
}
footer ul {
  list-style: none;
  padding: 0
}
footer ul li {
  margin: 0;
  padding: 0
}
footer ul.buttons {
  font-size: 2em
}
footer ul.buttons li {
  float: left;
  margin-right: .5em
}
footer a {
  color: #E7E5FB
}
footer a:hover {
  color: #48F2EF;
  text-decoration: none
}
.row.footer-margin-top {
  margin-top: 8px;
}
footer.footer-margin-top {
  margin-top: 20px;
}
.confirmation-margin {
  margin-top: 100px; 
  margin-bottom: 100px;
}
nav.navbar-background-color,
header.header-background-color,
.confirmation-background-color {
  background-color: #14578e;
}
section.about-background-color,
section.projects-background-color,
section.contact-background-color {
  background-color: #006E90;
}
footer.footer-background-color {
  background-color: #122C34;
}